In [26]:
import pandas as pd

In [27]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (from pyarrow) (1.26.3)
Note: you may need to restart the kernel to use updated packages.

In [28]:
pd.__version__

'2.2.0'

In [29]:
import wget
import pandas as pd

# URL of the CSV file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz'

wget.download(url, 'green_tripdata_2019-09.csv.gz')

df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', low_memory=False)

In [30]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', nrows = 100)

In [31]:
%cd C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

C:\Users\Matvei_Roshchin\desktop\2_docker_sql

In [32]:
!pip install pickleshare

Requirement already satisfied: pickleshare in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (0.7.5)

In [33]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [34]:
df.lpep_pickup_datetime =pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
from sqlalchemy import create_engine

In [36]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [37]:
print(pd.io.sql.get_schema(df, name = "green_taxi_data", con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [38]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [39]:
df = next(df_iter)

In [40]:
len(df)

100000

In [41]:
df.lpep_pickup_datetime =pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [42]:
df.head(n=0).to_sql(name = 'green_taxi_data', con=engine, if_exists ='replace')

0

In [43]:
%time df.to_sql(name = 'green_taxi_data', con=engine, if_exists ='append')

CPU times: total: 4.69 s
Wall time: 9.8 s

1000

In [44]:
from time import time

In [49]:
while True:
    df = next(df_iter)
    df.lpep_pickup_datetime =pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name = 'green_taxi_data', con=engine, if_exists ='append')

C:\Users\Matvei_Roshchin\AppData\Local\Temp\ipykernel_21104\3036194114.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

StopIteration: