In [37]:
import pandas as pd

In [38]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (14.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.16.6 in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (from pyarrow) (1.26.3)

In [39]:
  import pandas as pd

In [40]:
pd.__version__

'2.2.0'

In [41]:
import wget
import pandas as pd

# URL of the CSV file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

wget.download(url, 'yellow_tripdata_2021-01.csv.gz')

df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', low_memory=False)

In [42]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', nrows = 100)

In [43]:
%cd C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

In [44]:
!pip install pickleshare

Requirement already satisfied: pickleshare in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (0.7.5)

In [45]:
%cd C:/Users/Matvei_Roshchin/Desktop/2_docker_sql

C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

In [46]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [47]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)

In [48]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [49]:
from sqlalchemy import create_engine

In [50]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [51]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [52]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [53]:
df = next(df_iter)

In [54]:
len(df)

100000

In [55]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [56]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con=engine, if_exists ='replace')

0

In [57]:
%time df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists ='append')

CPU times: total: 3.97 s
Wall time: 8.6 s

1000

In [58]:
from time import time

In [59]:
while True:
    df = next(df_iter)
    df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists ='append')

C:\Users\Matvei_Roshchin\AppData\Local\Temp\ipykernel_19748\2724639732.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

StopIteration:

In [ ]:
import os
print(os.getcwd())

In [6]:

import wget
import pandas as pd

# URL of the CSV file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

wget.download(url, 'yellow_tripdata_2021-01.csv.gz')

df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', low_memory=False)