In [37]:
import pandas as pd

In [38]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (14.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.16.6 in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (from pyarrow) (1.26.3)

In [39]:
  import pandas as pd

In [40]:
pd.__version__

'2.2.0'

In [1]:
import wget
import pandas as pd

# URL файла Parquet
parquet_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet'

# Имя файла для сохранения
parquet_file_path = 'green_tripdata_2022-01.parquet'

# Скачивание файла Parquet
wget.download(parquet_url, parquet_file_path)

# Чтение данных из файла Parquet
df = pd.read_parquet(parquet_file_path)

# Теперь df содержит данные из файла Parquet

In [42]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', nrows = 100)

In [43]:
%cd C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

In [44]:
!pip install pickleshare

Requirement already satisfied: pickleshare in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (0.7.5)

In [45]:
%cd C:/Users/Matvei_Roshchin/Desktop/2_docker_sql

C:\Users\Matvei_Roshchin\Desktop\2_docker_sql

In [2]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62490,2,2022-01-31 23:25:00,2022-01-31 23:33:00,None,NaN,40,65,NaN,1.40,8.38,0.00,0.0,1.93,0.0,None,0.3,10.61,NaN,NaN,NaN
62491,2,2022-01-31 23:52:00,2022-02-01 00:10:00,None,NaN,36,61,NaN,2.97,14.92,0.00,0.0,0.00,0.0,None,0.3,15.22,NaN,NaN,NaN
62492,2,2022-01-31 23:17:00,2022-01-31 23:36:00,None,NaN,75,167,NaN,3.70,16.26,0.00,0.0,0.00,0.0,None,0.3,16.56,NaN,NaN,NaN
62493,2,2022-01-31 23:45:00,2022-01-31 23:55:00,None,NaN,116,166,NaN,1.88,9.48,0.00,0.0,2.17,0.0,None,0.3,11.95,NaN,NaN,NaN
62494,2,2022-01-31 23:52:00,2022-02-01 00:26:00,None,NaN,225,179,NaN,9.60,32.18,0.00,0.0,7.23,10.0,None,0.3,49.71,NaN,NaN,NaN

In [47]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)

In [48]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [49]:
from sqlalchemy import create_engine

In [50]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [51]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [52]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [53]:
df = next(df_iter)

In [54]:
len(df)

100000

In [55]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [56]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con=engine, if_exists ='replace')

0

In [57]:
%time df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists ='append')

CPU times: total: 3.97 s
Wall time: 8.6 s

1000

In [58]:
from time import time

In [59]:
while True:
    df = next(df_iter)
    df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists ='append')

C:\Users\Matvei_Roshchin\AppData\Local\Temp\ipykernel_19748\2724639732.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

StopIteration:

In [ ]:
import os
print(os.getcwd())

In [6]:

import wget
import pandas as pd

# URL of the CSV file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

wget.download(url, 'yellow_tripdata_2021-01.csv.gz')

df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', low_memory=False)