In [1]:
import pandas as pd

In [2]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (14.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.16.6 in c:\users\matvei_roshchin\appdata\local\programs\python\python39\lib\site-packages (from pyarrow) (1.26.3)

In [3]:
  import pandas as pd

In [4]:
pd.__version__

'2.2.0'

In [5]:
import wget
import pandas as pd

# URL of the CSV file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz'

wget.download(url, 'green_tripdata_2020-10.csv.gz')

df = pd.read_csv('green_tripdata_2020-10.csv.gz', compression='gzip', low_memory=False)

100% [..........................................................................] 1709547 / 1709547

In [6]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz', nrows = 100)

In [7]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1,0.00
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0.00
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.00
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1,0.00
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2020-10-01 06:47:55,2020-10-01 06:55:20,N,1,74,75,6,1.44,7.5,0.0,0.5,0.00,0.0,NaN,0.3,8.30,2,1,0.00
96,2,2020-10-01 06:37:50,2020-10-01 06:45:43,N,1,74,75,1,1.40,7.0,0.0,0.5,1.56,0.0,NaN,0.3,9.36,1,1,0.00
97,2,2020-10-01 06:53:27,2020-10-01 07:00:31,N,1,74,166,1,1.70,7.5,0.0,0.5,1.24,0.0,NaN,0.3,9.54,1,1,0.00
98,2,2020-10-01 06:10:54,2020-10-01 06:18:55,N,1,74,236,1,1.49,7.5,0.0,0.5,1.00,0.0,NaN,0.3,9.30,1,1,0.00
99,2,2020-10-01 06:29:08,2020-10-01 06:46:02,N,1,74,140,1,3.47,14.0,0.0,0.5,2.00,0.0,NaN,0.3,19.55,1,1,2.75

In [8]:
print(pd.io.sql.get_schema(df, name = "green_taxi", con = engine))

NameError: name 'engine' is not defined

In [9]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz', nrows=100)

# Вывести информацию о DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   100 non-null    float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB
None

In [10]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', nrows=100)

# Вывести информацию о DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB
None

In [13]:
unique_vendor_ids = df['VendorID'].unique()
print(unique_vendor_ids)

[1 2]